<%= form_for movie do |form| %>
  <div style='margin-bottom: 10px;'>
    <%= form.label :title, style: 'display: block;', class: 'test' %>
    <%= form.text_field :title %>
  </div>

  <div style='margin-bottom: 10px;'>
    <%= form.label :title, style: 'display: block;', class: 'test' %>
    <%= form.text_field :title %>
  </div>

  <%= form.submit %>
<% end %>