<h3>Edit Comment <%= @comment.id %> (by <%= @comment.user.email %>)</h3>
<%= form_for @comment, url: movie_comment_path(@comment, movie_id: @comment.commentable_id) do |form| %>
  <%= render 'comments/form_field', form: form %>

  <%= form.submit %>
<% end %>
