<%= turbo_frame_tag dom_id(@comment) do %>
  <h3>Edit Comment <%= @comment.id %> (by <%= @comment.user.email %>)</h3>
  <%= form_for @comment, url: movie_comment_path(@comment, movie_id: @comment.commentable_id) do |form| %>
    <%= form.text_field :body %>

    <%= form.submit %>
  <% end %>
<% end %>
