<h1>Omdb search</h1>
<%= form_tag omdb_search_movies_path, method: :get do %>
  <div style='margin-bottom: 10px;'>
    <%= label_tag :search_query %>
    <%= text_field_tag :search_query, params[:search_query] %>
  </div>

  <%= submit_tag 'Search' %>
<% end %>

<% if @search_results.present? %>
  <table>
    <thead>
    <th>Title</th>
    <th>Year</th>
    <th>Image</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <% @search_results.each do |movie| %>
      <tr>
        <td><%= movie['Title'] %></td>
        <td><%= movie['Year'] %></td>
        <td><%= image_tag(movie['Poster']) %></td>
        <td>
          <%= form_tag omdb_import_movies_path(omdb_id: movie['imdbID']), method: :post do %>
            <%= submit_tag 'Import' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
