<h1>Show view</h1>
<h2>Title: <%= @movie.title %></h2>
<h3>Description <%= @movie.description %></h3>
<p>Year of Creation: <%= @movie.year_of_creation %></p>
<p>Genre: <%= @movie.genres.filter_map { |g| g.titleize if g.present? }.join(', ') %></p>
<p>Director: <%= @movie.director %></p>

<%= @movie.comments.each do |comment| %>
  <p><%= comment.body %></p>
<% end %>

<%= render partial: 'comments/form', locals: { movie: @movie } %>