<h1>Show view</h1>
<% if @movie.cover_image_url %>
  <h2><%= image_tag(@movie.cover_image_url) %></h2>
<% end %>
<h2>Title: <%= @movie.title %></h2>
<h3>Description <%= @movie.description %></h3>
<p>Year of Creation: <%= @movie.year_of_creation %></p>
<p>Genre: <%= @movie.genres.filter_map { |g| g.titleize if g.present? }.join(', ') %></p>
<p>Director: <%= @movie.director %></p>
<%= link_to('EDit', edit_movie_path(@movie)) %>

<hr/>

<hr/>

<% @movie.comments.includes(:user).each do |comment| %>
  <%= turbo_frame_tag(dom_id(comment)) do %>
    <p>
      <%= comment.body %> (by <%= comment.user.email %>)
      <% if policy(comment).edit? %>
        <%= link_to('edit', edit_movie_comment_path(comment, movie_id: comment.commentable.id)) %>
      <% end %>

      <% if policy(comment).destroy? %>
        <%= link_to('destroy',
                    movie_comment_path(comment, movie_id: comment.commentable),
                    data: { turbo_method: :delete }) %>
      <% end %>
      <div class='container-50'>
        <% comment.comments.includes(:user).each do |sub_comment| %>
          <%= sub_comment.body %> (by <%= sub_comment.user.email %>)
          <br/>
        <% end %>
        <%= render partial: 'comments/form', locals: { comment_to: comment } %>
      </div>
    </p>
  <% end %>
<% end %>

<%= render partial: 'comments/form', locals: { comment_to: @movie } %>