<h1>Show view</h1>
<h2>Title: <%= @movie.title %></h2>
<h3>Description <%= @movie.description %></h3>
<p>Year of Creation: <%= @movie.year_of_creation %></p>
<p>Genre: <%= @movie.genre %></p>
<p>Director: <%= @movie.director %></p>