<div id="<%= dom_id film %>">
  <p>
    <strong>Title:</strong>
    <%= film.title %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= film.director %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= film.release_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= film.description %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= film.duration %>
  </p>

</div>
